name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  ci:
    name: Lint and test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.12]

    steps:
      - uses: actions/checkout@v3

      - name: Install just
        run: |
          sudo apt-get update
          sudo apt-get install -y just

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
          python-version: ${{ matrix.python-version }}

      - name: Lint the project
        run: just check-all

      - name: Run python tests
        run: just test
